.SidebarChat{
    display:flex;
    padding:20px;
    cursor:pointer;
    border-bottom:1px solid #f6f6f6;
}

.SidebarChat:hover{
    background-color:#ebebeb;
}

.SidebarChat_info > h2{
    font-size:16px;
    margin-bottom: 8px;
}

.SidebarChat_info{
    margin-left: 15px;
}